<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="<%= static_path(@conn, "/js/bundle.js") %>"></script>

    <title>Hello Chat!</title>
  </head>

  <body>
    <div class="container"></div>
  </body>
  <script src="<%= static_path(@conn, "/js/bundle.js") %>"></script>
</html>
